@use "variables" as *;
@use "bases" as *;
@use "mixins" as *;

.btn {
  @include font($reg-font, $white, 600);
  padding: 12px 40px;
  text-transform: capitalize;
  border-radius: 5rem;

  &--header {
    filter: drop-shadow(0 7px 7px rgba(0 0 0 / 0.3));
    background-color: $primary-blue;
    margin: auto;
    @include breakPoint($breakpoint-tablet) {
      margin: 0;
      max-width: fit-content;
    }
    @include breakPoint(90rem) {
      @media (prefers-reduced-motion: no-preference) {
        transition: background-color 0.3s;
        &:hover {
          background-color: $secondary-blue;
        }
      }
    }
  }

  &--free,
  &--ultimate {
    background-color: rgba(#5175ff, 0.15);
    color: $primary-blue;
    margin: auto;
    @include breakPoint($breakpoint-tablet) {
      margin: 0;
      max-width: fit-content;
      margin-top: 20px;
    }
    @include breakPoint(64.6875rem) {
      margin: auto;
    }

    @include breakPoint(90rem) {
      @media (prefers-reduced-motion: no-preference) {
        transition: background-color 0.3s;
        &:hover {
          background-color: rgba(#5175ff, 0.25);
        }
      }
    }
  }

  &--pro {
    background-color: $white;
    color: $primary-blue;
    margin: auto;
    @include breakPoint($breakpoint-tablet) {
      margin: 0;
      max-width: fit-content;
      margin-top: 20px;
    }
    @include breakPoint(64.6875rem) {
      margin: auto;
    }

    @include breakPoint(90rem) {
      @media (prefers-reduced-motion: no-preference) {
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &--timer {
    background-color: $primary-blue;
    margin: auto;

    @include breakPoint(64.6875rem) {
      margin: 0;
      justify-self: end;
      align-self: start;
    }
    @include breakPoint(90rem) {
      @media (prefers-reduced-motion: no-preference) {
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  &--signup {
    background-color: $primary-blue;
    text-align: center;
    cursor: pointer;
    @include breakPoint(90rem) {
      @media (prefers-reduced-motion: no-preference) {
        transition: background-color 0.3s;
        &:hover {
          background-color: $secondary-blue;
        }
      }
    }
  }
}
